## Velocity comments use two hashes; so we need an alternative variable
## to represent Markdown headers.

$H Installation

CLAVIN-REST is designed as a standalone application, leveraging elements of the CLAVIN open source library. 

$H$H$H$H Package creation 
    git clone https://github.com/Berico-Technologies/CLAVIN-rest
    cd CLAVIN-rest
    mvn package 
    
$H Using CLAVIN-REST

This section will discuss mechanisms for quickly integrating CLAVIN with a JVM-based project.

$H$H$H$H Step 1. Download the CLAVIN Rest Server 
    curl -L https://github.com/Berico-Technologies/CLAVIN-rest/releases/download/0.2.0/clavin-rest-0.2.0.jar -o clavin-rest.jar

$H$H$H$H Step 2. Download Geonames 
    curl -O http://download.geonames.org/export/dump/allCountries.zip

$H$H$H$H Step 3. Unzip Geonames 
    unzip allCountries.zip

$H$H$H$H Step 4. Download CLAVIN yaml configuration file 
    curl -O https://raw.githubusercontent.com/Berico-Technologies/CLAVIN-rest/master/clavin-rest.yml 

$H$H$H$H Step 5. Create a CLAVIN gazetteer 
    java -Xmx4096m -jar clavin-rest.jar index clavin-rest.yml

$H$H$H$H Step 6. Run the CLAVIN rest server
    java -Xmx2048m -jar clavin-rest.jar server clavin-rest.yml 

$H$H$H$H Step 7. Geotag an article  
    curl -O https://raw.githubusercontent.com/Berico-Technologies/CLAVIN/master/src/test/resources/sample-docs/Somalia-doc.txt
    curl -s --data @Somalia-doc.txt --header "Content-Type: text/plain" http://localhost:9090/api/v0/geotag

If you encounter an error that looks like this:
    ... InvocationTargetException: Java heap space ...
set the appropriate environmental variable controlling Maven's memory usage, and increase the size with `export MAVEN_OPTS=-Xmx3g` or similar.

Once that all runs successfully, feel free to modify the CLAVIN-REST source code to suit your needs, or import CLAVIN\'s functionality into your own program using the CLAVIN .jar file, found on Maven Central (http://search.maven.org/#browse%7C918955015).

**Please note:** Loading the worldwide gazetteer uses a non-trivial amount of memory. When using CLAVIN in your own programs, if you encounter `Java heap space` errors (like the one described in Step 8), bump up the maximum heap size for your JVM.


